.login-card {
   margin-top: 150px;
   width: 400px;
   background-color: #eee;
   border-radius: 4px;
   box-shadow: -1px -1px 13px -2px rgba(0,0,0,0.75);
   -webkit-box-shadow: -1px -1px 13px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px -1px 13px -2px rgba(0,0,0,0.75);
}

.page {
   background-color: rgb(250, 250, 250);
   /* height: 100vh; */
}